@import 'cropperjs/dist/cropper.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* when noScroll make all hidden */
body.noscroll {
    overflow: hidden;
}


/* a tag of parent pUrl */
.pUrl a {
    text-decoration: none;
    color: #1d9bf0;
}

.pUrl a:hover {
    text-decoration: underline;
}


